html {
  font-size: 16px;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: #42a7a1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 300px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.header-background {
  background-color: #f1ba64;
  height: 25%;
  width: 100%;
  color: rgb(69, 72, 75);
  border-radius: 3px 3px 0 0;
}

/* first line in header */

.first-line {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 2px 20px;
}

#weekly-report {
  font-weight: 600;
}

#ravenue {
  font-size: 14px;
  font-weight: 500;
}

/* second line in header */

.second-line {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

#date-ranges {
  font-size: 14px;
  font-weight: 500;
}

#profit {
  font-weight: 600;
}

/* all parameters and charts*/
.parameters {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 12px;
  color: rgb(69, 72, 75);
  margin: 15px 30px 15px 30px;
}

#views-red-rectangle {
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(238, 103, 103);
}

#purchases-blue-rectangle {
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(104, 122, 225);
}

#views {
  padding: 0px 30px 0px 10px;
}

#purchases {
  padding-left: 10px;
}

/* line */

.line-background-top,
.line-background-middle,
.line-background-bottom {
  width: 360px;
  background-color: rgb(212, 209, 209);
  margin: 30px 20px 50px 20px;
  border-top: 1px;
}

.line-background-bottom {
  margin: 30px 20px 0px 20px;
}

/* red line chart */

.red-line-chart {
  position: absolute;
  height: 1px;
  width: 400px;
  margin: 0;
}

#line-svg {
  position: absolute;
  height: 130px;
  width: 360px;
  bottom: 10px;
}

.line-red {
  stroke: rgb(238, 103, 103);
  stroke-width: 3;
}

.red-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: rgb(238, 103, 103);
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

#red-dot-1 {
  bottom: 50px;
  left: 8px;
}

#red-dot-2 {
  bottom: 90px;
  left: 66px;
}

#red-dot-3 {
  bottom: 70px;
  left: 125px;
}

#red-dot-4 {
  bottom: 100px;
  left: 182px;
}

#red-dot-5 {
  bottom: 60px;
  left: 238px;
}

#red-dot-6 {
  bottom: 45px;
  left: 291px;
}

#red-dot-7 {
  bottom: 80px;
  left: 347px;
}
/* all red dots hover */
[id^="red-dot-hover-"] {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  background-color: rgb(190, 86, 86);
  bottom: 10px;
  left: -12px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Blue charts */

.blue-line-chart {
  position: absolute;
  height: 1px;
  width: 400px;
  margin: 0;
}

.line-blue {
  stroke: rgb(136, 153, 251);
  stroke-width: 3;
}

.blue-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: rgb(136, 153, 251);
  border-radius: 50%;
  z-index: 2;
}

#blue-dot-1 {
  bottom: 30px;
  left: 8px;
}

#blue-dot-2 {
  bottom: 20px;
  left: 60px;
}

#blue-dot-3 {
  bottom: -3px;
  left: 117px;
}

#blue-dot-4 {
  bottom: 10px;
  left: 176px;
}

#blue-dot-5 {
  bottom: 0;
  left: 229px;
}

#blue-dot-6 {
  bottom: -9px;
  left: 284px;
}

#blue-dot-7 {
  bottom: -5px;
  left: 337px;
}
[id^="blue-dot-hover-"] {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  background-color: rgb(190, 86, 86);
  bottom: 10px;
  left: -12px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* days */

.days-calendar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  color: rgb(113, 114, 114);
  font-size: 12px;
}
